<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WanderLust</title>
</head>
<body>
  <h3>Create a new Listing</h3>
  <!-- <form action="/listing" method="post">
    <input type="text" name="title" placeholder="Title"><br><br>
    <textarea name="description" type="text" placeholder="Description"></textarea><br><br>
    <input type="text" placeholder="Image" name="image"><br><br>
    <input type="text" name="price" placeholder="Price"><br><br>
    <input type="text" name="location" placeholder="Location"><br><br>
    <input type="text" name="country" placeholder="Country"><br><br>
    <button>Add</button>
  </form> -->

  <form action="/listing" method="post">
    <input type="text" name="listing[title]" placeholder="Title"><br><br>
    <textarea name="listing[description]" type="text" placeholder="Description"></textarea><br><br>
    <input type="text" placeholder="Image" name="listing[image]"><br><br>
    <input type="text" name="listing[price]" placeholder="Price"><br><br>
    <input type="text" name="listing[location]" placeholder="Location"><br><br>
    <input type="text" name="listing[country]" placeholder="Country"><br><br>
    <button>Add</button>
  </form>
</body>
</html>